:root {
  --green: hsla(95, 70%, 40%, 1);
  -shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

html {
  font-size: 62.5%;
}

body {
  background: #333;
  font-family: optima;
  font-size: 16px;
}

.wrap {
  padding: 1% 1.5vw;
  font-size: 1.6rem;
  max-width: 1440px;
  margin: auto;
}

.logo {
  margin: 0 1rem;
  display: inline;
}
.logo h1 {
  margin: 1px 0;
  line-height: 1.2;
  font-size: 3.2rem;
}
.logo span {
  border-bottom: 1px solid rgba(240, 248, 255, 0.085);
  border-top: 1px solid rgba(240, 248, 255, 0.085);
  padding: 2px;
  margin: 0;
  font-size: 1.4rem;
}

h3 {
  line-height: 1.5;
  margin-bottom: 0.5rem;
  font-size: 2.4rem;
  letter-spacing: 0.1ch;
}

h3 > span {
  font-size: 1.4rem;
}
