/* ======= CSS Result View Box ======= */
.cssCode-valueArea {
	position: fixed;
	top: 36px;
	right: 16px;
	z-index: 10;
}
.toggle-code-trigger {
	position: absolute;
	top: -31px;
	right: -1px;
	cursor: pointer;
	display: inline-flex;
	color: lightslategray;
	padding: 2px 1ch;
	transition: .2s;
}
.toggle-code-trigger:hover {
	color: var(--green);
}

.resultCssCode {
	height: 0em;
	overflow: auto;
	border: none;
	background: none;
	transition: background .2s;
}

.resultCssCode.showCodeToggle {
	border: 1px solid var(--green);
	border-radius: .5rem;
	background: rgb(20 20 20 / 70%);
	color: var(--green);
	filter: saturate(50%) contrast(1.5);
	font-size: 1.6rem;
	line-height: 1.2;
	user-select: all;
	text-align: left;
	margin: 0;
	padding: 4px 16px;
	height: 100%;
	transition: background .2s;
}
