/* ======= resultView-area ======= */
.resultView-area {
	display: flex;
	align-items: center;
	justify-content: center;
	display: flex;
	margin: 0 1em 2em 1em;
}
.resultView-area > div {
	text-align: center;
	vertical-align: baseline;
	margin: 0 8px;
}

/* ======= handleCode-area ======= */
.handleCodeArea > h2 {
	margin: 0 0.2em -0.6em 0;
	font-size: 3em;
	color: pink;
	display: inline-block;
	width: 2.4em;
}
.handleCodeArea {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* grid-area */
.grid-pattern {
	cursor: pointer;
}
.grid-pattern:hover {
	color: var(--green);
}
