:root {
  --green: hsla(95, 70%, 40%, 1);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 01;
}

body {
  background: #333;
  font-family: optima;
}

.wrap {
  padding: 2vh 2vw;
}

.buttons {
  margin-bottom: 1.5rem;
}

button {
  margin: 0.1em;
  padding: 0 2ch;
  max-height: 4px;
  border: none;
  transition: 0.2s;
}

button:hover {
  background-color: lime;
  color: lime;
}

button:active,
button:focus {
  background-color: tomato;
  color: tomato;
}

button:first-of-type::before {
  content: 'none';
}

.container {
  background-color: var(--green);
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-auto-rows: 85px;
  grid-gap: 10px;
  max-width: 768px;
  width: 90vw;
  /*   justify-items: stretch; */
  padding: 1rem;
}

.element {
  /*   align-items: center; */
  background-color: #fff;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  display: flex;
  margin: 1px;
  /*   justify-content: center; */
  padding: 1rem;
}

.conrtoller {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
