:root {
	--green: hsla(95, 70%, 40%, 1);
	-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
		0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	user-select: none;
}

body {
	background: #333;
	font-family: optima;
}

.wrap {
	padding: 2% 2vw;
}

h3 {
	line-height: 1.5;
	margin-bottom: .5rem;
	font-size: 2rem;
	letter-spacing: .1ch;
}

/* ======= resultView-area ======= */
.resultView-area {
	display: flex;
	align-items: center;
	justify-content: center;
}
.resultView-area > div {
	text-align: center;
	vertical-align: baseline;
	margin: 0 8px;
}
.resultCodeArea > h2 {
	margin: 0 0.2em -0.6em 0;
	font-size: 3em;
	color: pink;
}
.resultCodeArea {
	display: flex;
	align-items: center;
	justify-content: center;
}
.resultCode-valueArea {
	position: fixed;
	bottom: 2vh;
	right: 2vw;
	border: 1px solid var(--green);
	box-shadow: var(--shadow);
	background-color: rgb(102 102 102 / 60%);
	z-index: 10;
}

.resultCode {
	color: #fff;
	font-size: 1em;
	user-select: all;
	text-align: left;
	padding: 16px;
	margin: 0;
}
/* ======= Set View Container ======= */
.container {
	background-color: var(--green);
	/* to Toggle */
	/* display: grid; */
	grid-template-columns: repeat(3, auto);
	grid-auto-rows: 85px;

	/* default */
	display: flex;
	flex-wrap: wrap;

	gap: 12px;
	max-width: 768px;
	max-height: 240px;
	overflow: auto;
	padding: 1rem;
}

/* ======= Set Buttons ======= */
.conrtoller {
	display: grid;
	place-content: center;
	padding: 2rem;
}

.element {
	/*   align-items: center; */
	background-color: #fff;
	box-shadow: var(--shadow);
	margin: 8px;
	padding: 1rem;
	min-width: 6em;
}

.element:nth-child(even) {
	min-width: 12em;
	min-height: 5em;
}

.selfElement {
	background-color: tomato;
	color: white;
}
/* .selfElement:nth-of-type(odd) {
	background-color: teal;
} */

/* ======= Set Buttons ======= */

/* Common Buttons */
.buttons {
	margin-bottom: 1em;
}

button {
	margin: 0.1em;
	padding: 0 2ch;
	max-height: 4px;
	border: none;
	transition: 0.2s;
}

button:hover {
	background-color: lime;
	color: lime;
}

button:active,
button:focus {
	background-color: orange;
	color: orange;
}

button:first-of-type::before {
	content: "none";
}

/* Reset Button */
.reset-area {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem;
}

/* .reset-area h3 {
	color: tomato;
} */

button.reset::before,
button.displayFlex::before,
button.displayGrid::before {
	content: "";
}
button.reset {
	color: tomato;
}
